@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

/* Global Styles */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header, section, footer{
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #F1FEF8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header-container {
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-family: "Kablammo", system-ui;
}

.banner-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.featured-container{
    padding-top: 1.5rem;
}

.featured-item{
    padding-bottom: 10px;
    line-height: 22px
}

/* Joke Page Styles */

.joke-page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.custom{
    text-align: center;
}

/* Carousel Styles */
.carousel-track h2{
    padding-bottom: 1.5rem;
}
.carousel-container {
    position: relative;
    height: 100%;
    max-width: 600px;
    /*overflow: hidden;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #0275d8;
    color: white;
}

/* Carousel Controls */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .carousel-item {
        height: 200px;
    }

    .carousel-control {
        font-size: 1.5em;
        padding: 8px;
    }
}


/* User-Submitted Jokes Styles */
.user-jokes h2, .categories h2, .joke-of-the-day h2, .joke-page h2, .submission-form h2, .user-profile h2 {
    font-size: 2em;
}

.user-jokes ul, .categories ul, .comments ul, .user-profile ul {
    list-style-type: none;
    padding: 0;
}

.user-jokes li, .categories li, .comments li, .user-profile li {
    margin-bottom: 10px;
}

.user-jokes a, .categories a, .social-media a {
    color: #007bff;
    text-decoration: none;
}

/*.user-jokes a:hover, .categories a:hover, .social-media a:hover {
    text-decoration: underline;
}*/

.user-jokes ul{
    padding: 1.5rem 0;
}

.user-jokes a{
   background-color: #2bc884;
   color: white;
   border: none;
   border-radius: 7px;
   padding: 10px;
   transition: .5s ease;
}

.user-jokes a:hover{
    background-color: #15935c;
}

.categories ul{
    padding-top: 1.5rem;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.categories ul li{
    background-color: #2bc884;
    padding: 10px 8px;
    text-align: center;
    border-radius: 6px;
}



.categories ul li a{
    color: white;
}

.joke-of-the-day p{
    padding: 1rem 0;
    line-height: 24px;
    
}

/* Submission Form Styles */
.submission-form form {
    display: flex;
    flex-direction: column;
}

.submission-form label {
    margin: 10px 0 5px;
}

.submission-form input, .submission-form textarea {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.submission-form textarea {
    height: 150px;
}

.submission-form button {
    padding: 10px;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submission-form button:hover {
    background-color: #0056b3;
}



.comments ul {
    margin-top:px;
}

.submit-container{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.submit-container ul li{
    line-height: 22px;
}

/* Social Media Styles */
footer .social-media {
    text-align: center;
}

footer h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.social-media a{
    color: grey;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .carousel-container {
        flex-direction: column;
    }

    .carousel-item {
        margin-bottom: 20px;
    }

    .submission-form input, .submission-form textarea {
        font-size: 1em;
    }

    
    }